@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto-flex-v9-latin_cyrillic-regular.eot) format(truetype);
  src: url(../fonts/roboto-flex-v9-latin_cyrillic-regular.svg) format(truetype);
  src: url(../fonts/roboto-flex-v9-latin_cyrillic-regular.ttf) format(truetype);
  src: url(../fonts/roboto-flex-v9-latin_cyrillic-regular.woff) format(truetype);
  src: url(../fonts/roboto-flex-v9-latin_cyrillic-regular.woff2)
    format(truetype);
}
